* {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ui-focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.ui-tabs {
  padding: 0.1em 0.2em 0.0em 0.2em;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 1;

  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
}

a {
  text-decoration: none;
}

/*unvisited link*/
/*#popupClassLink:link {
  text-decoration: none;
}*/

/*visited link*/
/*#popupClassLink:visited {
  text-decoration: none;
}*/

/*mouse over link*/
/*#popupClassLink:hover {
  text-decoration: none;
}*/

/*selected link*/
/*#popupClassLink:active {
  text-decoration: none;
}*/

h1 {
  font-size: 24px;
}

.leaflet-popup-content {
  width: auto !important;
  min-width: 165px;
}

.tabs {
  xheight: 100%;
}

.tabs-register {
  xheight: 100%;
}

input[type="radio"] {
  margin: 2px;
  vertical-align: middle;
}

#input_file {
  display: block;
  visibility: hidden;
  width: 0;
  height: 0;
}

.ui-checkbox input, .ui-radio input {
  z-index: -2;
}

#page {
  height: 100%;
}

#start-page, #main-page {
  display: none;
  padding: 0px;
  height: 100%;
  width: 100%;
  /*overflow: hidden;  change to auto when too much info text*/
}

#label_radio {
  font-size: 12px;
  display: inline;
  /*font-weight: bold;*/
}

.map {
  width: 100%;
  height: 520px;
  /*final height will be calculated in JS*/
  xheight: 100%;
  position: relative;
}

.bottompanel {
  position: absolute;
  bottom: 0px;
  right:0px;
  left: 0px;
  padding: 10px;
  margin: 0px;
  width: auto;
  background-color: rgba(0,0,0,0.65);
  color: white;
  text-shadow: none;
  display: none;
}

.bottompanel label, .bottompanel .label {
  color: white;
  font-weight: bold;
}

#start-menu {
  display: block;
}

#start-menu-contribute {
  font-size: 16px;
}

#class_next, #photo_next, #rating_next, #comment_next {
  position: absolute;
  right: 0%;
}

.text_about {
  margin: 12px;
  line-height: 1.5;
}

#info-map, #info-register {
  display: none;
  padding: 5px;
}

#register-page {
  padding: 5px;
  margin: 12px;
}

.legend {
  position: absolute;
  width: 210px;
  color: #555;
  background-color: rgba(255,255,255,0.7);
  display: none;
  padding: 3px;
  top: 10px;
  right: 10px;
  text-shadow: none;
  /*font-weight: bold;*/
}

.legend_b {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255,255,255,.5);
  border-radius: 0px;
  border: 3px solid rgba(51,136,204,.3);
}

.legend-images {
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.leaflet-control-attribution {
  line-height: 0.9;
  padding: 1px;
}

.leaflet-control-scale {
  font-size: 10px;
}

.ui-content {
  overflow-y: hidden;
}

.ui-navbar li .ui-btn, .ui-mobile label, div.ui-controlgroup-label, .text_about, .placeholder {
  font-size: 14px;
}

@media (max-height: 520px) {
  .ui-btn {
    line-height: 0.5;
  }
  .placeholder {
    line-height: 1;
  }
  .text_about {
    line-height: 1;
  }
}

.logo {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/*landscape layout*/
/*@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
*/

.valign {
  vertical-align:middle;
}

img.valign {
  margin-bottom: 2px;
}

/*hidden placeholder*/
select option[disabled]:first-child {
  display: none;
}

select, option {
  text-align: center;
}

.ui-slider input[type=number] {
  display: none;
}
.ui-slider .ui-slider-track {
  margin: 0 15px;
}
.slider-ticks {
  position: relative;
  height: 8px;
  margin: -8px 15px 2px;
}
.slider-ticks .tick {
  position: absolute;
  top: 0;
  height: 100%;
  border-left: 2px solid white;
}
.slider-ticks .tick-1 {
  left: 1%;
}
.slider-ticks .tick-2 {
  left: 16.6%;
}
.slider-ticks .tick-3 {
  left: 33.3%;
}
.slider-ticks .tick-4 {
  left: 50%;
}
.slider-ticks .tick-5 {
  left: 66.6%;
}
.slider-ticks .tick-6 {
  left: 83.3%;
}
.slider-ticks .tick-7 {
  left: 99%;
}
.slider-labels {
  position: relative;
  height: 16px;
  margin: 0 15px 5px;
}
.slider-labels .label {
  position: absolute;
  top: 0;
  font-size:14px;
}
.slider-labels .label-1 {
  left: 0%;
}
.slider-labels .label-7 {
  text-align: right;
  right: 0%;
}
